.section{
    margin: 20px 10%;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    text-align: center;
}

.select{
    flex: .2;
    font-size: 18px;
}

.input{
    flex: .65;
}

.search{
    flex: .15;
}

.from-component{
    padding: 5px 10px;
    width: 99%;
    border-radius: 20px;
    border: 1px solid rgb(156, 156, 156);
}

button.from-component{
    font-size: 18px;
    background-color: black;
    color: whitesmoke;
}

/* --------------------------------------------------------- */

.product{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
    padding: 15px 0;
    margin-bottom: 10px;
}

.image{
    flex: .2;
    text-align: center;
}

img{
    width: 120px;
    padding: 0 10px;
}

.description{
    flex: .7;
    margin-left: 5%;
}

.product-head{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    font-weight: bold;
    text-decoration: none;
}

.product-head button{
    border: none;
    background: white;
    margin: 0 20px;
    font-weight: bold;
}

.product-name{
    color: black;
}

.edit{
    color: blue;
}

.delete{
    color: red;
}

.price{
    flex: .1;
    font-weight: bold;
}

button{
    cursor: pointer;
}

.discount{
    font-size: 12px;
    color: grey;
    margin-left: 15px;
}